.navbar {
  width: 100%;
  padding: 0 1vw;
  border-bottom: 1px solid var(--colorTextFade);
  height: 7rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 1rem 8rem #00000010;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 12;
}

.logo__title {
  font-size: 3.6rem;
  color: var(--colorBrandPrimary);
  font-weight: 900;
}

.cart {
  display: flex;
  align-items: stretch;
  justify-content: center;
  /* padding: 2rem; */
  /* flex: 0.5; */
  width: 13rem;
  min-width: 10rem;
}

.cart__btn {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 1rem;
  font-size: 2.6rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu {
  border-left: 1px solid var(--colorTextFade);
  border-right: 1px solid var(--colorTextFade);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  width: 13rem;
  min-width: 10rem;
  height: 100%;
}

.sign-in {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--colorText);
  text-transform: uppercase;
  cursor: pointer;
}
.sign-in__logo {
  background-color: var(--colorBrandPrimary);
  padding: 0.4rem;
  color: white;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
}
