*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
}

body {
  color: var(--colorText);
}

:root {
  --colorBrandPrimary: #fb0f3e;
  --colorBrandPrimaryDark: #a80c2b;
  --colorBrandPrimaryLight: #fd6f8b;
  --colorBrandPrimaryFade: #ffdfe5;
  --colorText: #333333;
  --colorTextLight: #33333380;
  --colorTextFade: #33333325;
}
